<div class="baner">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <p class="for-parents">Для батьків</p>
         </div>
         <div class="col-12">
            <h3>
               Як знайти няню
               своєї мрії
            </h3>
         </div>
         <section class="inbox">
            <div class="col-4 items">
               <h4>
                  Розмістіть ваше оголошення
               </h4>
               <p>
                  Розкажіть саме про ваші потреби та завдання
               </p>
            </div>
            <div class="col-4 items">
               <h4>
                  Перегляньте анкети <br> нянь поблизу
               </h4>
               <p>
                  та проведіть співбесіду з тими хто відповідає вашим вимогам 
               </p>
            </div>
            <div class="col-4 items">
               <h4>
                  Найміть свою ідеальну няню
               </h4>
               <p>
                  Обговоріть деталі, сформуйте договір прямо на  сайті
               </p>
            </div>
         </section>
      </div>

   </div>
</div>