<section class="blog">
   <div class="container">
      <div class="row">
         <div class="col-12">
            <div class="blog__title">
               Свіже в блозі
            </div>
            <div class="blog__menu">
               <ul class="d-flex">
                  <li>
                     <a href="#">Все</a>
                  </li>
                  <li>
                     <a href="#">Авторські статті</a>
                  </li>
                  <li>
                     <a href="#">Дослідження</a>
                  </li>
               </ul>
            </div>
         </div>

         <div class="col-4 onmobile">
            <div class="blog__column">
               <div class="blog__img">
                  <img src="./img/blog1.png" alt="img">
               </div>
               <div class="blog__describe">
                  Як вибрати няню для дитини?
               </div>
               <div class="blog__date">
                  8 червня
               </div>
               <div class="blog__buttons">
                  <a href="#">
                     поради
                  </a>
                  <a href="#">
                     корисне
                  </a>
               </div>
            </div>

         </div>
         <div class="col-4 mobile">
            <div class="blog__column">
               <div class="blog__img">
                  <img src="./img/blog2.png" alt="img">
               </div>
               <div class="blog__describe">
                  Як вибрати няню для дитини?
               </div>
               <div class="blog__date">
                  8 червня
               </div>
               <div class="blog__buttons">
                  <a href="#">
                     поради
                  </a>
                  <a href="#">
                     корисне
                  </a>
               </div>
            </div>

         </div>
         <div class="col-4 mobile">
            <div class="blog__column">
               <div class="blog__img">
                  <img src="./img/blog3.png" alt="img">
               </div>
               <div class="blog__describe">
                  Як вибрати няню для дитини?
               </div>
               <div class="blog__date">
                  8 червня
               </div>
               <div class="blog__buttons ">
                  <a href="#">
                     поради
                  </a>
                  <a href="#">
                     корисне
                  </a>
               </div>
            </div>
         </div>

      </div>
   </div>
</section>