<section class="community">
   <div class="container">
       <div class="row">
           <div class="col-12">
               <div class="community__title">
                   Спільнота
               </div>
               <div class="community__describe">
                   Обмін досвідом, спілкування, рекомендації
               </div>
           </div>
           <div class="col-12 d-flex mobile">
               <div class="col-6 community__info">
                   <div class="line"></div>
                   <div class="community__info-title">
                       Популярне на форумі
                   </div>
                   <div class="community__info-date">8 червня · Різне</div>
                   <div class="community__info-questions">
                       Якого віку повинна бути відповідальна няня?
                   </div>
                   <div class="community__info-date">8 червня · Різне</div>
                   <div class="community__info-questions">
                       З якого віку дитина готова для того аби її залишати наодинці з нянею?
                   </div>
                   <div class="community__info-date">8 червня · Різне</div>
                   <div class="community__info-questions">
                       Якого віку повинна бути відповідальна няня?
                   </div>
                   <div class="community__info-date">8 червня · Різне</div>
                   <div class="community__info-questions">
                       Якого віку повинна бути відповідальна няня?
                   </div>
                   <div class="community__info-date">8 червня · Різне</div>
                   <div class="community__info-questions">
                       З якого віку дитина готова для того аби її залишати наодинці з нянею?
                   </div>
                   <div class="community__info-date">8 червня · Різне</div>
                   <div class="community__info-questions">
                       Якого віку повинна бути відповідальна няня?
                   </div>
               </div>
               <div class="col-6 community__info">
                   <div class="line"></div>
                   <div class="community__info-title">
                       Обговорюють зараз
                   </div>
                   <div class="community__info-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                       labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                       laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                   <div class="community__info-item">
                       <img src="./img/community1.svg" alt="img">
                       <p class="item-name">Юлія К.</p>
                       <p class="item-top">в топіку</p>
                       <p class="item-description">“Поради, як не промахнутись з вибором няні”</p>
                   </div>
                   <div class="community__info-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                       labore et dolore magna aliqua.
                   </div>
                   <div class="community__info-item">
                       <img src="./img/community2.svg" alt="img">
                       <p class="item-name">Юлія К.</p>
                       <p class="item-top">в топіку</p>
                       <p class="item-description">“Поради, як не промахнутись з вибором няні”</p>
                   </div>
                   <div class="community__info-text">
                       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                       labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                       laboris nisi ut aliquip ex ea commodo consequat.
                   </div>
                   <div class="community__info-item">
                       <img src="./img/community1.svg" alt="img">
                       <p class="item-name">Юлія К.</p>
                       <p class="item-top">в топіку</p>
                       <p class="item-description">“Поради, як не промахнутись з вибором няні”</p>
                   </div>
               </div>
           </div>
           <div class="col-12 d-flex justify-content-center">
               <div class="community__btn">
                  <a href="#">Перейти до форуму</a>
               </div>
           </div>
       </div>
   </div>
</section>