<section class="for__nyan">
   <div class="conatiner">
       <div class="row">
           <div class="col-12">
               <p class="above-title">Для нянь</p>
           </div>
           <div class="col-12">
               <h3>
                   Як знайти роботу <br>
                   професійною нянею
               </h3>
           </div>
       </div>
       <section class="template">
           <div id="tab1" class="col-4  item active" data-tabs="1">
               <h4>
                   Створіть профіль няні
               </h4>
               <p class="template__p">Заповніть анкету няні, додайте фото, опішить своі сильні сторони</p>
           </div>
           <div id="tab2" class="col-4  item active" data-tabs="2">
               <h4>
                   Реагуйте на <br> оголошення про роботу
               </h4>
               <p class="template__p">Знаходьте оголошення поруч з вами та обговорюйте умови з роботодавцем</p>
           </div>
           <div id="tab3" class="col-4  item active" data-tabs="3">
               <h4>
                   Знайдіть вашого вихованця 
               </h4>
               <p class="template__p">Обговоріть деталі співпраці, сформуйте договір за допомогою сайту 
               </p>
           </div>
       </section>
       <div class="contents__tabs">
           <div class="contents d-none" data-tabs="1">Створити профіль</div>
           <div class="contents d-none" data-tabs="2">Оголошення поруч</div>
           <div class="contents d-none" data-tabs="3">Обговоріть деталі співпраці</div>
       </div>
   </div>
</section>