<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6 mt-4 d-flex align-items-center">
                    <div class="header__title">
                        <p><b>MOM</b>SEEK</p>
                    </div>
                    <div class="header__language d-flex">
                        <p>Українська</p>
                        <div class="drop-down-lang">
                            <img class="arrow-down" src="./img/arrow-language.svg" alt="">
                            <div class="drop-down">
                                <a href="#">eng</a>
                                <a href="#">pl</a>
                                <a href="#">esp</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">

                </div>
            </div>
        </div>
    </div>
</header>