<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-12  header__main">
                <div class="col-4 d-flex align-items-center">
                    <div class="header__title">
                        <p><b>MOM</b>SEEK</p>
                    </div>
                    <div class="header__language d-flex">
                        <p class="d-none d-lg-block">Українська</p>
                        <p class="d-md-block d-lg-none">UA</p>
                        <div class="drop-down-lang">
                            <img class="arrow-lang" src="./img/arrow-language.svg" alt="arrow">
                            <div class="drop-down">
                                <a href="#">eng</a>
                                <a href="#">pl</a>
                                <a href="#">esp</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-8">
                    <div class="header__buttons">
                        <button class="header__btn-post">Розмістити оголошення</button>
                        <button class="header__btn-find">Знайти роботу</button>
                        <button class="header__btn-enter">Увійти</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>