<div class="hero">
   <div class="container">
      <div class="row">
         <div class="col-12 d-flex hero__describes">
            <div class="col-12 col-xl-8">
               <div class="hero__title">
                  <h1>
                     Батьки вільні, діти доглянуті
                  </h1>
                  <p>сервіс для пошуку нянь поблизу</p>
               </div>
            </div>
            <div class="col-12 col-xl-4">
               <div class="hero__image">
                  <a href="#">
                     <img src="./img/header-people.png" alt="people">
                  </a>
               </div>
            </div>
         </div>
         <div class="col-12">
            <div class="hero__inputs">
               <div class="hero__forms">
                  <form action="/action_page.php">
                     <input type="text" id="search" name="" value="Шукаю няню">
                     <select id="country" name="country">
                        <option value="australia">Київ, Україна</option>
                        <option value="canada">Львів, Україна</option>
                        <option value="usa">Тернопіль, Україна</option>
                        <option value="usa">Харків, Україна</option>
                     </select>
                  </form>
               </div>
               <div class="hero__button">
                  <button class="hero__btn-search">Шукати</button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
</div>