.hero {
   background: linear-gradient(102.5deg, #fff6da 0%, #ffdef2 100%);

   &__title {
      margin-bottom: 53px;
      max-width: 900px;
      h1 {
         font-family: "Raleway";
         font-size: 56px;
         font-weight: 700;
         line-height: 67px;
      }
      p {
         font-family: "Raleway";
         font-size: 32px;
         font-weight: 500;
         line-height: 37px;
      }
   }

   &__image {
      display: flex;
      img {
         width: inherit;
         height: inherit;
         position: relative;
         animation-name: hero;
         animation-duration: 6s;
         animation-delay: 0.5s;
         animation-iteration-count: infinite;
         transition: 0.3s;
         @keyframes hero {
            0%   {left:0px; top:0px;}
            25%  {left:300px; top:0px;}
            50%  {left:300px; top:0px;}
            75%  {left:0px; top:0px;}
            100% {left:0px; top:0px;}
          }
         &:hover {
            transform: scale(1.08);
            transition: 0.3s;
         }
      }
   }

   &__inputs{
      margin-bottom: 60px;
   }

   &__forms{
      input[type=text]{
         padding: 20px 126px 20px 26px;
         border-radius: 24px;
         border: none;
         margin-right: 17px;
         font-weight: 600;
         line-height: 24px;
         background-image: url('../img/hero-arrow.svg');
         background-position: 95%;
         background-repeat: no-repeat;
      }

      select{
         padding: 21px 282px 19px 70px;
         border-radius: 24px;
         border: none;
         margin-right: 17px;
         font-weight: 600;
         line-height: 24px;
         background-image: url('../img/hero-location.svg');
         background-position: 5%;
         background-repeat: no-repeat;
      }
   }

   &__btn-search{
      padding: 20px 146px;
      border-radius: 24px;
      color: #fff;
      background-color: #1E3173;
      font-weight: 600;
      font-size: 26px;
      line-height: 24px;
      border: none;
      &:hover{
         background-color: #324ba5;
         box-shadow: 0 0 10px #324ba5, 0 0 20px #324ba5, 0 0 40px #324ba5;
         transform: scale(1.02);
         transition: 0.3s;
     }
   }
}
